/*
* @autor: Vetal
* mixins framework
*/
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-Extrabold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: Bankir-Retro;
  src: url(../fonts/Bankir_Retro.ttf);
}
/* Размытие */
/* Внешняя тень */
/* Пуленепробиваемый background-size */
/* Тень к тексту */
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
/* Закругления */
/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
