.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite {
  background-image: url(../img/spritesheet.png);    background-repeat: no-repeat;
  display: block;

  &.sprite-arrow-bottom {
    .stitches-sprite(-5px, -5px, 12px, 7px);
  }

  &.sprite-arrow-next {
    .stitches-sprite(-5px, -22px, 12px, 33px);
  }

  &.sprite-arrow-prev {
    .stitches-sprite(-5px, -65px, 12px, 33px);
  }

  &.sprite-arrow-top {
    .stitches-sprite(-5px, -108px, 12px, 7px);
  }

  &.sprite-calendar {
    .stitches-sprite(-5px, -125px, 37px, 37px);
  }

  &.sprite-cart {
    .stitches-sprite(-5px, -172px, 44px, 46px);
  }

  &.sprite-cart-white {
    .stitches-sprite(-5px, -228px, 44px, 46px);
  }

  &.sprite-close {
    .stitches-sprite(-5px, -284px, 19px, 19px);
  }

  &.sprite-ellipse {
    .stitches-sprite(-5px, -313px, 20px, 20px);
  }

  &.sprite-ellipse-point {
    .stitches-sprite(-5px, -343px, 20px, 20px);
  }

  &.sprite-email-ico {
    .stitches-sprite(-5px, -373px, 16px, 17px);
  }

  &.sprite-ico1 {
    .stitches-sprite(-5px, -400px, 105px, 105px);
  }

  &.sprite-ico2 {
    .stitches-sprite(-5px, -515px, 105px, 105px);
  }

  &.sprite-ico3 {
    .stitches-sprite(-5px, -630px, 105px, 105px);
  }

  &.sprite-ico4 {
    .stitches-sprite(-5px, -745px, 105px, 105px);
  }

  &.sprite-map-ico {
    .stitches-sprite(-5px, -860px, 13px, 16px);
  }

  &.sprite-menu-ico {
    .stitches-sprite(-5px, -886px, 32px, 25px);
  }

  &.sprite-menu-ico-hover {
    .stitches-sprite(-5px, -921px, 32px, 25px);
  }

  &.sprite-menu-ico-white {
    .stitches-sprite(-5px, -956px, 32px, 25px);
  }

  &.sprite-mnogoUgolnik {
    .stitches-sprite(-5px, -991px, 20px, 47px);
  }

  &.sprite-name-ico {
    .stitches-sprite(-5px, -1048px, 15px, 16px);
  }

  &.sprite-next {
    .stitches-sprite(-5px, -1074px, 91px, 36px);
  }

  &.sprite-next-1 {
    .stitches-sprite(-5px, -1120px, 90px, 36px);
  }

  &.sprite-next-1-hover {
    .stitches-sprite(-5px, -1166px, 93px, 36px);
  }

  &.sprite-next-hover {
    .stitches-sprite(-5px, -1212px, 92px, 36px);
  }

  &.sprite-pen {
    .stitches-sprite(-5px, -1258px, 14px, 15px);
  }

  &.sprite-pen-ico {
    .stitches-sprite(-5px, -1283px, 16px, 16px);
  }

  &.sprite-phone {
    .stitches-sprite(-5px, -1309px, 57px, 63px);
  }

  &.sprite-phone-ico {
    .stitches-sprite(-5px, -1382px, 16px, 16px);
  }

  &.sprite-prev {
    .stitches-sprite(-5px, -1408px, 91px, 36px);
  }

  &.sprite-prev-1 {
    .stitches-sprite(-5px, -1454px, 93px, 36px);
  }

  &.sprite-prev-1-hover {
    .stitches-sprite(-5px, -1500px, 93px, 36px);
  }

  &.sprite-prev-hover {
    .stitches-sprite(-5px, -1546px, 91px, 36px);
  }

  &.sprite-slidemenu-marker {
    .stitches-sprite(-5px, -1592px, 8px, 8px);
  }

  &.sprite-star {
    .stitches-sprite(-5px, -1610px, 17px, 16px);
  }

  &.sprite-star-fill {
    .stitches-sprite(-5px, -1636px, 17px, 16px);
  }

  &.sprite-start-go {
    .stitches-sprite(-5px, -1662px, 100px, 27px);
  }

  &.sprite-vk-ico {
    .stitches-sprite(-5px, -1699px, 22px, 13px);
  }
}
