.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite.sprite-arrow-bottom {
  background-position: -5px -5px;
  width: 12px;
  height: 7px;
}
.sprite.sprite-arrow-next {
  background-position: -5px -22px;
  width: 12px;
  height: 33px;
}
.sprite.sprite-arrow-prev {
  background-position: -5px -65px;
  width: 12px;
  height: 33px;
}
.sprite.sprite-arrow-top {
  background-position: -5px -108px;
  width: 12px;
  height: 7px;
}
.sprite.sprite-calendar {
  background-position: -5px -125px;
  width: 37px;
  height: 37px;
}
.sprite.sprite-cart {
  background-position: -5px -172px;
  width: 44px;
  height: 46px;
}
.sprite.sprite-cart-white {
  background-position: -5px -228px;
  width: 44px;
  height: 46px;
}
.sprite.sprite-close {
  background-position: -5px -284px;
  width: 19px;
  height: 19px;
}
.sprite.sprite-ellipse {
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-ellipse-point {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-email-ico {
  background-position: -5px -373px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-ico1 {
  background-position: -5px -400px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico2 {
  background-position: -5px -515px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico3 {
  background-position: -5px -630px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico4 {
  background-position: -5px -745px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-map-ico {
  background-position: -5px -860px;
  width: 13px;
  height: 16px;
}
.sprite.sprite-menu-ico {
  background-position: -5px -886px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-menu-ico-hover {
  background-position: -5px -921px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-menu-ico-white {
  background-position: -5px -956px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-mnogoUgolnik {
  background-position: -5px -991px;
  width: 20px;
  height: 47px;
}
.sprite.sprite-name-ico {
  background-position: -5px -1048px;
  width: 15px;
  height: 16px;
}
.sprite.sprite-next {
  background-position: -5px -1074px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-next-1 {
  background-position: -5px -1120px;
  width: 90px;
  height: 36px;
}
.sprite.sprite-next-1-hover {
  background-position: -5px -1166px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-next-hover {
  background-position: -5px -1212px;
  width: 92px;
  height: 36px;
}
.sprite.sprite-pen {
  background-position: -5px -1258px;
  width: 14px;
  height: 15px;
}
.sprite.sprite-pen-ico {
  background-position: -5px -1283px;
  width: 16px;
  height: 16px;
}
.sprite.sprite-phone {
  background-position: -5px -1309px;
  width: 57px;
  height: 63px;
}
.sprite.sprite-phone-ico {
  background-position: -5px -1382px;
  width: 16px;
  height: 16px;
}
.sprite.sprite-prev {
  background-position: -5px -1408px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-prev-1 {
  background-position: -5px -1454px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-prev-1-hover {
  background-position: -5px -1500px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-prev-hover {
  background-position: -5px -1546px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-slidemenu-marker {
  background-position: -5px -1592px;
  width: 8px;
  height: 8px;
}
.sprite.sprite-star {
  background-position: -5px -1610px;
  width: 17px;
  height: 16px;
}
.sprite.sprite-star-fill {
  background-position: -5px -1636px;
  width: 17px;
  height: 16px;
}
.sprite.sprite-start-go {
  background-position: -5px -1662px;
  width: 100px;
  height: 27px;
}
.sprite.sprite-vk-ico {
  background-position: -5px -1699px;
  width: 22px;
  height: 13px;
}
