/*
* @autor: Vetal
* mixins framework
*/
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-Extrabold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: Bankir-Retro;
  src: url(../fonts/Bankir_Retro.ttf);
}
/* Размытие */
/* Внешняя тень */
/* Пуленепробиваемый background-size */
/* Тень к тексту */
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
/* Закругления */
/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite.sprite-arrow-bottom {
  background-position: -5px -5px;
  width: 12px;
  height: 7px;
}
.sprite.sprite-arrow-next {
  background-position: -5px -22px;
  width: 12px;
  height: 33px;
}
.sprite.sprite-arrow-prev {
  background-position: -5px -65px;
  width: 12px;
  height: 33px;
}
.sprite.sprite-arrow-top {
  background-position: -5px -108px;
  width: 12px;
  height: 7px;
}
.sprite.sprite-calendar {
  background-position: -5px -125px;
  width: 37px;
  height: 37px;
}
.sprite.sprite-cart {
  background-position: -5px -172px;
  width: 44px;
  height: 46px;
}
.sprite.sprite-cart-white {
  background-position: -5px -228px;
  width: 44px;
  height: 46px;
}
.sprite.sprite-close {
  background-position: -5px -284px;
  width: 19px;
  height: 19px;
}
.sprite.sprite-ellipse {
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-ellipse-point {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-email-ico {
  background-position: -5px -373px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-ico1 {
  background-position: -5px -400px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico2 {
  background-position: -5px -515px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico3 {
  background-position: -5px -630px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-ico4 {
  background-position: -5px -745px;
  width: 105px;
  height: 105px;
}
.sprite.sprite-map-ico {
  background-position: -5px -860px;
  width: 13px;
  height: 16px;
}
.sprite.sprite-menu-ico {
  background-position: -5px -886px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-menu-ico-hover {
  background-position: -5px -921px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-menu-ico-white {
  background-position: -5px -956px;
  width: 32px;
  height: 25px;
}
.sprite.sprite-mnogoUgolnik {
  background-position: -5px -991px;
  width: 20px;
  height: 47px;
}
.sprite.sprite-name-ico {
  background-position: -5px -1048px;
  width: 15px;
  height: 16px;
}
.sprite.sprite-next {
  background-position: -5px -1074px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-next-1 {
  background-position: -5px -1120px;
  width: 90px;
  height: 36px;
}
.sprite.sprite-next-1-hover {
  background-position: -5px -1166px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-next-hover {
  background-position: -5px -1212px;
  width: 92px;
  height: 36px;
}
.sprite.sprite-pen {
  background-position: -5px -1258px;
  width: 14px;
  height: 15px;
}
.sprite.sprite-pen-ico {
  background-position: -5px -1283px;
  width: 16px;
  height: 16px;
}
.sprite.sprite-phone {
  background-position: -5px -1309px;
  width: 57px;
  height: 63px;
}
.sprite.sprite-phone-ico {
  background-position: -5px -1382px;
  width: 16px;
  height: 16px;
}
.sprite.sprite-prev {
  background-position: -5px -1408px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-prev-1 {
  background-position: -5px -1454px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-prev-1-hover {
  background-position: -5px -1500px;
  width: 93px;
  height: 36px;
}
.sprite.sprite-prev-hover {
  background-position: -5px -1546px;
  width: 91px;
  height: 36px;
}
.sprite.sprite-slidemenu-marker {
  background-position: -5px -1592px;
  width: 8px;
  height: 8px;
}
.sprite.sprite-star {
  background-position: -5px -1610px;
  width: 17px;
  height: 16px;
}
.sprite.sprite-star-fill {
  background-position: -5px -1636px;
  width: 17px;
  height: 16px;
}
.sprite.sprite-start-go {
  background-position: -5px -1662px;
  width: 100px;
  height: 27px;
}
.sprite.sprite-vk-ico {
  background-position: -5px -1699px;
  width: 22px;
  height: 13px;
}
h1,
h2,
h3,
h4 {
  font-family: Bankir-Retro;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 100;
}
h2 {
  font-size: 45px;
  font-weight: 100;
}
h3 {
  font-size: 32px;
  font-weight: 100;
}
body {
  margin: 0;
}
body .inner {
  background: url(../img/back.png) repeat;
}
body .inner.inner-main {
  background: url(../img/backgroundMain.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;
}
body .preFooter {
  background: url(../img/back.png) repeat;
}
body > footer {
  background: url(../img/footer.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;
}
body .forGood {
  background: url(../img/back.png) repeat;
}
body .forGood .layout {
  background: rgba(64, 182, 156, 0.2);
}
body .preFooter .layout {
  background: rgba(64, 182, 156, 0.2);
}
body .contactUs {
  background: url(../img/otpr-form-back.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;
}
.inner .content {
  /*max-width: @mainWidth;*/
  width: 1140px;
  margin: 0 auto;
  color: #4c4c4c;
  font-family: OpenSans-Semibold;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: 0;
}
.inner .content.open {
  left: 370px;
  overflow: hidden;
}
.slideMenu {
  position: fixed;
  width: 370px;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  left: -370px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 30px;
  border-right: 2px solid rgba(221, 221, 221, 0.35);
  font-family: OpenSans-Semibold;
}
.slideMenu .headLine {
  color: #40b69c;
  overflow: hidden;
}
.slideMenu .headLine span {
  float: left;
}
.slideMenu .headLine i {
  float: right;
  cursor: pointer;
}
.slideMenu > a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 15px 0;
}
.slideMenu > a:hover {
  color: #40b69c;
}
.slideMenu ul {
  margin: 0;
  padding: 0 0 0 15px;
}
.slideMenu ul li {
  list-style-image: url(../img/slidemenu-marker.png);
  padding: 2px 0;
}
.slideMenu ul li a {
  color: #40b69c;
  text-decoration: none;
}
.slideMenu ul li a:hover {
  color: #87d5c4;
}
.slideMenu.open {
  left: 0;
}
.layoutModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  z-index: -1;
}
.layoutModal.active {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.modal {
  background: url(../img/back.png) repeat;
  width: 600px;
  height: 240px;
  padding: 40px 80px;
  margin: auto;
  position: fixed;
  top: -3000px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.modal.active {
  top: 0;
  z-index: 2;
}
.modal .sprite-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal form {
  font-family: OpenSans-Regular;
}
.modal form h2 {
  color: #40b69c;
  letter-spacing: 3px;
  font-size: 38px;
}
.modal form p {
  font-family: OpenSans-Semibold;
  color: #4c4c4c;
  width: 65%;
  margin: 0 auto;
}
.modal form .line {
  margin: 20px 0;
}
.modal form .line .inp {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.modal form .line .inp .sprite {
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal form .line .inp input {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 10px 10px 35px;
  width: 210px;
}
.modal form .line > .sprite {
  position: absolute;
  top: 30px;
  left: 200px;
}
.modal form button {
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  padding: 8px 51px;
  cursor: pointer;
  font-family: OpenSans-Semibold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.modal form button:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content > header {
  position: relative;
  text-align: center;
  padding: 30px 0;
}
.content > header > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: bottom;
}
.content > header .leftSide {
  position: relative;
}
.content > header .leftSide a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.content > header .center {
  text-align: left;
  margin-left: 140px;
}
.content > header .center > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content > header .center p {
  margin: 5px 0;
  font-size: 18px;
}
.content > header .rightSide {
  margin-left: 200px;
}
.content > header .rightSide .cartAndMenu {
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding: 2px 25px;
  font-family: OpenSans-Regular;
  color: #909090;
  font-size: 18px;
}
.content > header .rightSide .cartAndMenu > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content > header .rightSide .cartAndMenu > div > * {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content > header .rightSide .cartAndMenu .cart p {
  margin: 0;
  padding: 0 25px 0 7px;
  border-right: 1px solid #909090;
}
.content > header .rightSide .cartAndMenu .cart p span {
  color: black;
  text-decoration: underline;
  font-family: OpenSans-Semibold;
  font-size: 16px;
}
.content > header .rightSide .cartAndMenu .menu {
  padding-left: 25px;
  cursor: pointer;
}
.content > header .rightSide .cartAndMenu .menu div {
  margin-right: 15px;
}
.content > header .rightSide .cartAndMenu .menu:hover .sprite {
  background-position: -5px -921px;
  width: 32px;
  height: 25px;
}
.content > header .rightSide .cartAndMenu.blue {
  background: #40b69c;
  color: white;
}
.content > header .rightSide .cartAndMenu.blue .cart p span {
  color: white;
}
.content > header.page {
  border-bottom: 2px solid #3cbc9b;
}
.content > header.page .line {
  width: 600px;
  height: 2px;
  background: rgba(144, 144, 144, 0.3);
  position: relative;
  top: 40px;
}
.content .inner-page-block .lineHleb {
  margin: 30px 0;
}
.content .inner-page-block .lineHleb a {
  color: black;
  font-size: 14px;
  font-family: OpenSans-Regular;
  text-decoration: none;
}
.content .inner-page-block .lineHleb a:hover {
  color: #40b69c;
}
.content .inner-page-block .lineHleb img {
  vertical-align: middle;
  width: 8px;
  height: 10px;
  margin: 0 5px;
}
.content .inner-page-block .blockDescription .imageBlock {
  width: 430px;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  margin-top: 10px;
}
.content .inner-page-block .blockDescription .imageBlock .mainImage {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 310px;
  height: 310px;
}
.content .inner-page-block .blockDescription .imageBlock .mainImage img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  cursor: pointer;
}
.content .inner-page-block .blockDescription .imageBlock .rightImage {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 100px;
  height: 300px;
}
.content .inner-page-block .blockDescription .imageBlock .rightImage img:nth-child(1) {
  margin-top: 0;
}
.content .inner-page-block .blockDescription .imageBlock .rightImage img {
  width: 100px;
  height: 100px;
  margin-top: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  cursor: pointer;
}
.content .inner-page-block .blockDescription .imageBlock .bottomImage {
  margin-top: 4px;
  width: 425px;
  height: 100px;
}
.content .inner-page-block .blockDescription .imageBlock .bottomImage img:nth-child(1) {
  margin-left: 0;
}
.content .inner-page-block .blockDescription .imageBlock .bottomImage img {
  margin-left: -1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  cursor: pointer;
}
.content .inner-page-block .blockDescription .description {
  width: 700px;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .inner-page-block .blockDescription .description h1 {
  color: #40b69c;
  font-size: 40px;
  letter-spacing: 1px;
}
.content .inner-page-block .blockDescription .description p {
  font-family: OpenSans-Regular;
}
.content .inner-page-block .goodDescription .imageBlock {
  width: 40%;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .inner-page-block .goodDescription .imageBlock .mainImage {
  width: 100%;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages {
  width: 100%;
  position: relative;
  text-align: center;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages .sprite {
  position: absolute;
  top: 20%;
  cursor: pointer;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages .sprite.sprite-arrow-prev {
  left: 0;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages .sprite.sprite-arrow-next {
  right: 0;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages > img {
  cursor: pointer;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  margin: 0 5px;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.content .inner-page-block .goodDescription .imageBlock .sliderImages > img.active,
.content .inner-page-block .goodDescription .imageBlock .sliderImages > img:hover {
  border: 4px solid #40b69c;
}
.content .inner-page-block .goodDescription .description {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 55%;
  margin-left: 30px;
}
.content .inner-page-block .goodDescription .description h1 {
  color: #40b69c;
  text-transform: uppercase;
}
.content .inner-page-block .goodDescription .description .oldPrice {
  color: #bd3633;
  font-size: 18px;
  text-decoration: line-through;
  margin-bottom: 0;
}
.content .inner-page-block .goodDescription .description .newPrice {
  color: #000;
  font-size: 36px;
  margin-top: 0;
}
.content .inner-page-block .goodDescription .description .col {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content .inner-page-block .goodDescription .description .col span {
  display: block;
}
.content .inner-page-block .goodDescription .description .col .line > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .inner-page-block .goodDescription .description .col .line .plusminus {
  padding: 10px 20px;
  border: 1px solid #40b69c;
  cursor: pointer;
}
.content .inner-page-block .goodDescription .description .col .line .colcol {
  padding: 10px 30px;
  border: 1px solid rgba(144, 144, 144, 0.3);
}
.content .inner-page-block .goodDescription .description .col button {
  font-family: OpenSans-Semibold;
  margin-top: 20px;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .goodDescription .description .col button:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .catalog {
  padding: 20px 0;
}
.content .inner-page-block .catalog h1 {
  text-align: center;
  color: #40b69c;
  margin: 0 0 50px 0;
}
.content .inner-page-block .catalog .accordion {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 24%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background: white;
}
.content .inner-page-block .catalog .accordion > ul {
  padding: 0;
  margin: 0;
}
.content .inner-page-block .catalog .accordion > ul li {
  list-style: none;
}
.content .inner-page-block .catalog .accordion > ul > li {
  background: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  color: #40b69c;
}
.content .inner-page-block .catalog .accordion > ul > li:last-child {
  border-bottom: none;
}
.content .inner-page-block .catalog .accordion > ul > li:hover {
  background: #f7f7f7;
}
.content .inner-page-block .catalog .accordion > ul > li > ul {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  opacity: 0;
}
.content .inner-page-block .catalog .accordion > ul > li .line {
  position: relative;
  margin: 10px;
}
.content .inner-page-block .catalog .accordion > ul > li .line .sprite {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 8px;
  right: 5px;
}
.content .inner-page-block .catalog .accordion > ul > li.active ul {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.content .inner-page-block .catalog .accordion > ul > li.active ul li {
  background: #45a08e;
  border-bottom: 1px solid #3c9785;
  cursor: pointer;
  color: white;
  padding: 10px;
}
.content .inner-page-block .catalog .accordion > ul > li.active ul li:last-child {
  border-bottom: none;
}
.content .inner-page-block .catalog .accordion > ul > li.active ul li:hover {
  background: #269680;
}
.content .inner-page-block .catalog .accordion > ul > li.active .line .sprite {
  background-position: -5px -108px;
  width: 12px;
  height: 7px;
}
.content .inner-page-block .catalog .catalog-content {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 75%;
}
.content .inner-page-block .catalog .catalog-content .item {
  border: 1px solid #ddd;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  background: white;
}
.content .inner-page-block .catalog .catalog-content .item img {
  width: 250px;
}
.content .inner-page-block .catalog .catalog-content .item .description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-family: OpenSans-Semibold;
  width: 250px;
  position: relative;
  background: white;
}
.content .inner-page-block .catalog .catalog-content .item .description p {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.content .inner-page-block .catalog .catalog-content .item .description p span {
  color: #c7372e;
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 20px;
}
.content .inner-page-block .catalog .catalog-content .item .description p:nth-child(2) {
  margin: 10px 0;
  font-size: 26px;
}
.content .inner-page-block .catalog .catalog-content .item .description .buttons {
  font-family: OpenSans-Semibold;
}
.content .inner-page-block .catalog .catalog-content .item .description .buttons .sale {
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .catalog .catalog-content .item .description .buttons .sale:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .catalog .catalog-content .item .description .buttons .points {
  width: 50px;
  height: 41px;
  color: black;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
}
.content .inner-page-block .catalog .catalog-content .item .description .buttons .points:hover {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0);
}
.content .inner-page-block .catalog .catalog-content .pagination {
  margin-top: 30px;
}
.content .inner-page-block .catalog .catalog-content .pagination > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  padding: 5px 10px;
  border: 1px solid #7dcdc2;
  cursor: pointer;
  margin: 0 5px;
  color: #007f72;
}
.content .inner-page-block .catalog .catalog-content .pagination > div:hover {
  border: 1px solid #008471;
}
.content .inner-page-block .catalog .catalog-content .pagination .current {
  color: white;
  background: #77cfc1;
  border: 1px solid #77cfc1;
}
.content .inner-page-block .reviewsGood {
  text-align: center;
  padding: 70px 0;
}
.content .inner-page-block .reviewsGood h2 {
  color: #40b69c;
  text-transform: uppercase;
}
.content .inner-page-block .reviewsGood .reviews {
  text-align: center;
  max-height: 300px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.content .inner-page-block .reviewsGood .reviews.active {
  max-height: 1500px;
}
.content .inner-page-block .reviewsGood .reviews .review {
  margin: 20px 0;
  font-family: OpenSans-Regular;
  background: url(../img/quote.png) no-repeat center;
}
.content .inner-page-block .reviewsGood .reviews .review .wrapper {
  width: 800px;
  margin: 0 auto;
}
.content .inner-page-block .reviewsGood .reviews .review header {
  overflow: hidden;
}
.content .inner-page-block .reviewsGood .reviews .review header p {
  margin: 0;
}
.content .inner-page-block .reviewsGood .reviews .review header .name {
  color: #000;
  float: left;
}
.content .inner-page-block .reviewsGood .reviews .review header .rating {
  float: right;
  margin: 0 2px;
}
.content .inner-page-block .reviewsGood .reviews .review header .rating .star {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .inner-page-block .reviewsGood .reviews .review section {
  text-align: left;
}
.content .inner-page-block .reviewsGood .reviews .review footer {
  text-align: left;
}
.content .inner-page-block .reviewsGood .reviews .review footer p {
  color: #909090;
  font-size: 14px;
}
.content .inner-page-block .reviewsGood .review-btn {
  font-family: OpenSans-Semibold;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .reviewsGood .review-btn:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .reviewsGood form {
  padding: 50px 0;
  width: 800px;
  margin: 0 auto;
  font-family: OpenSans-Regular;
}
.content .inner-page-block .reviewsGood form p {
  font-size: 24px;
  color: #000;
  text-align: left;
}
.content .inner-page-block .reviewsGood form .line {
  position: relative;
}
.content .inner-page-block .reviewsGood form .line .inp {
  position: relative;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content .inner-page-block .reviewsGood form .line .inp > .sprite {
  position: absolute;
  top: 10px;
  left: 10px;
}
.content .inner-page-block .reviewsGood form .line .inp input {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 10px 10px 35px;
  width: 330px;
}
.content .inner-page-block .reviewsGood form .line .sprite {
  position: absolute;
  top: 30px;
  left: 30px;
}
.content .inner-page-block .reviewsGood form .line textarea {
  resize: none;
  margin: 20px 0;
  width: 711px;
  height: 130px;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.content .inner-page-block .reviewsGood form .line .rating {
  float: left;
}
.content .inner-page-block .reviewsGood form .line .rating .sprite {
  position: relative;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  cursor: pointer;
}
.content .inner-page-block .reviewsGood form .line .rating .sprite.active {
  background-position: -5px -1636px;
  width: 17px;
  height: 16px;
}
.content .inner-page-block .reviewsGood form .line button {
  font-family: OpenSans-Semibold;
  margin-top: 20px;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
  float: right;
  width: 300px;
}
.content .inner-page-block .reviewsGood form .line button:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content .inner-page-block .callToAction {
  border: 2px solid rgba(144, 144, 144, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
}
.content .inner-page-block .callToAction p {
  margin: 0;
  font-family: OpenSans-Regular;
  color: black;
}
.content .inner-page-block .callToAction > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .inner-page-block .callToAction .left {
  padding: 20px;
}
.content .inner-page-block .callToAction .left .sale {
  font-family: OpenSans-Semibold;
  font-size: 28px;
}
.content .inner-page-block .callToAction .center {
  background: url(../img/button-back.png) no-repeat;
  width: 301px;
  height: 100px;
  position: relative;
}
.content .inner-page-block .callToAction .center button {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
  color: #017b66;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  position: absolute;
  top: 32px;
  left: 45px;
  padding: 8px 48px;
  cursor: pointer;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  letter-spacing: 1px;
}
.content .inner-page-block .callToAction .center button:hover {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0);
}
.content .inner-page-block .callToAction .right {
  padding: 20px;
}
.content .inner-page-block .callToAction .right .tel {
  font-family: OpenSans-Semibold;
  font-size: 22px;
  margin-top: 5px;
}
.content .inner-page-block .callToAction .right .tel a {
  text-decoration: none;
  color: black;
}
.content .inner-page-block .icons {
  width: 750px;
  margin: 30px auto 0;
  padding-bottom: 50px;
}
.content .inner-page-block .icons .elem {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  margin: 25px 10px 25px;
}
.content .inner-page-block .icons .elem > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content .inner-page-block .icons .elem .des {
  width: 230px;
  margin-left: 5px;
}
.content .present {
  text-align: center;
}
.content .present .proart {
  margin: 100px 0 45px;
}
.content .present .mainCategories .sideCategory {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  margin: 0 0 20px 0;
  position: relative;
}
.content .present .mainCategories .sideCategory p {
  font-family: OpenSans-Regular;
}
.content .present .mainCategories .sideCategory button {
  text-transform: uppercase;
  width: 313px;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  font-family: OpenSans-Semibold;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.content .present .mainCategories .sideCategory .line {
  position: relative;
  height: 2px;
  margin-top: 8px;
}
.content .present .mainCategories .sideCategory p {
  margin: 15px 0 10px;
  font-size: 18px;
}
.content .present .mainCategories .sideCategory.left {
  text-align: left;
  margin-right: 150px;
}
.content .present .mainCategories .sideCategory.left h3 {
  color: #40b69c;
}
.content .present .mainCategories .sideCategory.left p {
  color: #909090;
  width: 275px;
}
.content .present .mainCategories .sideCategory.left button {
  color: white;
  background: #40b69c;
}
.content .present .mainCategories .sideCategory.left .lineGreen {
  background: #40b69c;
  width: 210px;
  float: left;
}
.content .present .mainCategories .sideCategory.right {
  text-align: right;
  margin-left: 150px;
}
.content .present .mainCategories .sideCategory.right h3 {
  color: white;
}
.content .present .mainCategories .sideCategory.right p {
  color: white;
  width: 370px;
}
.content .present .mainCategories .sideCategory.right button {
  color: #40b69c;
  background: white;
}
.content .present .mainCategories .sideCategory.right .lineWhite {
  background: white;
  width: 70px;
  float: right;
}
.content .spec {
  position: relative;
  margin-top: 100px;
  min-height: 800px;
}
.content .spec .headText h2 {
  color: white;
}
.content .spec .headText .line {
  background: white;
  width: 200px;
  height: 4px;
  margin-top: 20px;
}
.content .spec .sideSpec {
  width: 577px;
  height: 450px;
  position: absolute;
}
.content .spec .sideSpec .yellowBlock {
  background: #fcea1e;
  padding: 25px 42px;
  position: absolute;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  top: 175px;
}
.content .spec .sideSpec .yellowBlock p {
  margin: 0;
  color: black;
}
.content .spec .sideSpec .yellowBlock .big {
  font-size: 40px;
  font-family: OpenSans-Extrabold;
  text-transform: uppercase;
}
.content .spec .sideSpec .yellowBlock .predlog {
  font-size: 22px;
  font-family: OpenSans-Regular;
}
.content .spec .sideSpec.right {
  width: 649px;
  height: 450px;
  background: url(../img/acciya-2.png) no-repeat;
  top: 50px;
  right: 0;
  text-align: right;
}
.content .spec .sideSpec.right .yellowBlock {
  right: -20px;
  width: 70%;
}
.content .spec .sideSpec.left {
  width: 577px;
  height: 450px;
  background: url(../img/acciya-1.png) no-repeat;
  top: 274px;
  left: 0;
}
.content .spec .sideSpec.left .yellowBlock {
  width: 95%;
  left: -20px;
}
.content .spec .sideSpec.left .predlog {
  text-transform: uppercase;
}
.content .spec .dopAccii {
  position: absolute;
  top: 550px;
  right: 100px;
  text-align: center;
}
.content .spec .dopAccii > p {
  color: #909090;
  font-size: 18px;
  font-weight: 100;
}
.content .spec .dopAccii > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  position: relative;
  cursor: pointer;
  color: white;
  margin: 0 10px;
}
.content .spec .dopAccii > div p {
  position: absolute;
  bottom: -8px;
}
.content .spec .dopAccii .prev p {
  right: 20px;
}
.content .spec .dopAccii .prev:hover .sprite {
  background-position: -5px -1546px;
  width: 91px;
  height: 36px;
}
.content .spec .dopAccii .next p {
  left: 20px;
}
.content .spec .dopAccii .next:hover .sprite {
  background-position: -5px -1212px;
  width: 92px;
  height: 36px;
}
.content .master {
  margin-bottom: 150px;
}
.content .master .headMaster {
  margin-right: 100px;
}
.content .master .headMaster h2 {
  color: white;
}
.content .master .headMaster .line {
  width: 130px;
  height: 4px;
  background: white;
  margin-top: 20px;
}
.content .master .headMaster > p {
  color: white;
  width: 250px;
  font-family: OpenSans-Regular;
  font-weight: 100;
  font-size: 18px;
  margin: 25px 0;
}
.content .master .headMaster button {
  text-align: left;
  background: #fbe81f;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  cursor: pointer;
}
.content .master .headMaster button:hover {
  background: #faf71e;
}
.content .master .headMaster button > * {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.content .master .headMaster button p {
  color: black;
  font-size: 16px;
  margin: 0 0 0 10px;
  font-weight: 600;
  position: relative;
  top: 2px;
}
.content .master .itemShereng {
  margin-top: 30px;
  margin-left: 100px;
}
.content .master .itemShereng.one {
  margin-left: 0;
}
.content .master .itemShereng > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.content .master .itemShereng .item {
  padding: 6px;
  border: 1px solid #dddddd;
  text-align: center;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.content .master .itemShereng .item:hover {
  background: rgba(227, 254, 249, 0.7);
}
.content .master .itemShereng .item p {
  color: black;
  margin: 7px 0 10px 0;
}
.content .master .itemShereng .item button {
  color: white;
  margin-bottom: 10px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.content .master .itemShereng .item button .sprite {
  display: inline-block;
  vertical-align: top;
}
.content .master .itemShereng .item button:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.content .master .itemShereng .item button span {
  font-size: 16px;
  margin-left: 10px;
}
.content .reviews {
  position: relative;
  overflow: hidden;
}
.content .reviews h2 {
  color: #40b69c;
}
.content .reviews .line {
  width: 130px;
  height: 4px;
  background: #40b69c;
  margin-top: 20px;
}
.content .reviews .slick {
  text-align: center;
  margin: 50px 0;
}
.content .reviews .slick img {
  margin: 0 5px;
}
.content .reviews .slick .dots {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}
.content .reviews .slick .dots li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.content .reviews .slick .dots li button {
  font-size: 0;
  line-height: 0;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.content .reviews .slick .dots li button.sprite-arrow-bottom {
  background-position: -5px -5px;
  width: 12px;
  height: 7px;
}
.content .reviews .slick .dots li button.sprite-arrow-next {
  background-position: -5px -22px;
  width: 12px;
  height: 33px;
}
.content .reviews .slick .dots li button.sprite-arrow-prev {
  background-position: -5px -65px;
  width: 12px;
  height: 33px;
}
.content .reviews .slick .dots li button.sprite-arrow-top {
  background-position: -5px -108px;
  width: 12px;
  height: 7px;
}
.content .reviews .slick .dots li button.sprite-calendar {
  background-position: -5px -125px;
  width: 37px;
  height: 37px;
}
.content .reviews .slick .dots li button.sprite-cart {
  background-position: -5px -172px;
  width: 44px;
  height: 46px;
}
.content .reviews .slick .dots li button.sprite-cart-white {
  background-position: -5px -228px;
  width: 44px;
  height: 46px;
}
.content .reviews .slick .dots li button.sprite-close {
  background-position: -5px -284px;
  width: 19px;
  height: 19px;
}
.content .reviews .slick .dots li button.sprite-ellipse {
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
}
.content .reviews .slick .dots li button.sprite-ellipse-point {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.content .reviews .slick .dots li button.sprite-email-ico {
  background-position: -5px -373px;
  width: 16px;
  height: 17px;
}
.content .reviews .slick .dots li button.sprite-ico1 {
  background-position: -5px -400px;
  width: 105px;
  height: 105px;
}
.content .reviews .slick .dots li button.sprite-ico2 {
  background-position: -5px -515px;
  width: 105px;
  height: 105px;
}
.content .reviews .slick .dots li button.sprite-ico3 {
  background-position: -5px -630px;
  width: 105px;
  height: 105px;
}
.content .reviews .slick .dots li button.sprite-ico4 {
  background-position: -5px -745px;
  width: 105px;
  height: 105px;
}
.content .reviews .slick .dots li button.sprite-map-ico {
  background-position: -5px -860px;
  width: 13px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-menu-ico {
  background-position: -5px -886px;
  width: 32px;
  height: 25px;
}
.content .reviews .slick .dots li button.sprite-menu-ico-hover {
  background-position: -5px -921px;
  width: 32px;
  height: 25px;
}
.content .reviews .slick .dots li button.sprite-menu-ico-white {
  background-position: -5px -956px;
  width: 32px;
  height: 25px;
}
.content .reviews .slick .dots li button.sprite-mnogoUgolnik {
  background-position: -5px -991px;
  width: 20px;
  height: 47px;
}
.content .reviews .slick .dots li button.sprite-name-ico {
  background-position: -5px -1048px;
  width: 15px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-next {
  background-position: -5px -1074px;
  width: 91px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-next-1 {
  background-position: -5px -1120px;
  width: 90px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-next-1-hover {
  background-position: -5px -1166px;
  width: 93px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-next-hover {
  background-position: -5px -1212px;
  width: 92px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-pen {
  background-position: -5px -1258px;
  width: 14px;
  height: 15px;
}
.content .reviews .slick .dots li button.sprite-pen-ico {
  background-position: -5px -1283px;
  width: 16px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-phone {
  background-position: -5px -1309px;
  width: 57px;
  height: 63px;
}
.content .reviews .slick .dots li button.sprite-phone-ico {
  background-position: -5px -1382px;
  width: 16px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-prev {
  background-position: -5px -1408px;
  width: 91px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-prev-1 {
  background-position: -5px -1454px;
  width: 93px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-prev-1-hover {
  background-position: -5px -1500px;
  width: 93px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-prev-hover {
  background-position: -5px -1546px;
  width: 91px;
  height: 36px;
}
.content .reviews .slick .dots li button.sprite-slidemenu-marker {
  background-position: -5px -1592px;
  width: 8px;
  height: 8px;
}
.content .reviews .slick .dots li button.sprite-star {
  background-position: -5px -1610px;
  width: 17px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-star-fill {
  background-position: -5px -1636px;
  width: 17px;
  height: 16px;
}
.content .reviews .slick .dots li button.sprite-start-go {
  background-position: -5px -1662px;
  width: 100px;
  height: 27px;
}
.content .reviews .slick .dots li button.sprite-vk-ico {
  background-position: -5px -1699px;
  width: 22px;
  height: 13px;
}
.content .reviews .slick .dots li.slick-active button {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.forGood .content {
  width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
}
.forGood .content .needed {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 24%;
  font-family: OpenSans-Regular;
}
.forGood .content .needed h3 {
  font-size: 28px;
  color: #40b69c;
}
.forGood .content .needed ul {
  padding-left: 20px;
}
.forGood .content .needed ul li {
  list-style-type: decimal;
}
.forGood .content .needed .goodsTam > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.forGood .content .needed .goodsTam .text {
  width: 80%;
  font-weight: 600;
}
.forGood .content .needed .goodsTam .text span {
  color: #40b69c;
}
.forGood .content .sliderGoods {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  width: 73%;
  margin-left: 30px;
  background: transparent;
  position: relative;
}
.forGood .content .sliderGoods .good {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.forGood .content .sliderGoods .good img {
  width: 250px;
}
.forGood .content .sliderGoods .good .description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-family: OpenSans-Semibold;
  width: 250px;
  position: relative;
  background: white;
}
.forGood .content .sliderGoods .good .description p {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.forGood .content .sliderGoods .good .description p span {
  color: #c7372e;
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 20px;
}
.forGood .content .sliderGoods .good .description p:nth-child(2) {
  margin: 10px 0;
  font-size: 26px;
}
.forGood .content .sliderGoods .good .description .buttons .sale {
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.forGood .content .sliderGoods .good .description .buttons .sale:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.forGood .content .sliderGoods .good .description .buttons .points {
  width: 50px;
  height: 41px;
  color: black;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
}
.forGood .content .sliderGoods .good .description .buttons .points:hover {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0);
}
.forGood .content .sliderGoods .dots {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}
.forGood .content .sliderGoods .dots li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.forGood .content .sliderGoods .dots li button {
  font-size: 0;
  line-height: 0;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.forGood .content .sliderGoods .dots li button.sprite-arrow-bottom {
  background-position: -5px -5px;
  width: 12px;
  height: 7px;
}
.forGood .content .sliderGoods .dots li button.sprite-arrow-next {
  background-position: -5px -22px;
  width: 12px;
  height: 33px;
}
.forGood .content .sliderGoods .dots li button.sprite-arrow-prev {
  background-position: -5px -65px;
  width: 12px;
  height: 33px;
}
.forGood .content .sliderGoods .dots li button.sprite-arrow-top {
  background-position: -5px -108px;
  width: 12px;
  height: 7px;
}
.forGood .content .sliderGoods .dots li button.sprite-calendar {
  background-position: -5px -125px;
  width: 37px;
  height: 37px;
}
.forGood .content .sliderGoods .dots li button.sprite-cart {
  background-position: -5px -172px;
  width: 44px;
  height: 46px;
}
.forGood .content .sliderGoods .dots li button.sprite-cart-white {
  background-position: -5px -228px;
  width: 44px;
  height: 46px;
}
.forGood .content .sliderGoods .dots li button.sprite-close {
  background-position: -5px -284px;
  width: 19px;
  height: 19px;
}
.forGood .content .sliderGoods .dots li button.sprite-ellipse {
  background-position: -5px -313px;
  width: 20px;
  height: 20px;
}
.forGood .content .sliderGoods .dots li button.sprite-ellipse-point {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.forGood .content .sliderGoods .dots li button.sprite-email-ico {
  background-position: -5px -373px;
  width: 16px;
  height: 17px;
}
.forGood .content .sliderGoods .dots li button.sprite-ico1 {
  background-position: -5px -400px;
  width: 105px;
  height: 105px;
}
.forGood .content .sliderGoods .dots li button.sprite-ico2 {
  background-position: -5px -515px;
  width: 105px;
  height: 105px;
}
.forGood .content .sliderGoods .dots li button.sprite-ico3 {
  background-position: -5px -630px;
  width: 105px;
  height: 105px;
}
.forGood .content .sliderGoods .dots li button.sprite-ico4 {
  background-position: -5px -745px;
  width: 105px;
  height: 105px;
}
.forGood .content .sliderGoods .dots li button.sprite-map-ico {
  background-position: -5px -860px;
  width: 13px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-menu-ico {
  background-position: -5px -886px;
  width: 32px;
  height: 25px;
}
.forGood .content .sliderGoods .dots li button.sprite-menu-ico-hover {
  background-position: -5px -921px;
  width: 32px;
  height: 25px;
}
.forGood .content .sliderGoods .dots li button.sprite-menu-ico-white {
  background-position: -5px -956px;
  width: 32px;
  height: 25px;
}
.forGood .content .sliderGoods .dots li button.sprite-mnogoUgolnik {
  background-position: -5px -991px;
  width: 20px;
  height: 47px;
}
.forGood .content .sliderGoods .dots li button.sprite-name-ico {
  background-position: -5px -1048px;
  width: 15px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-next {
  background-position: -5px -1074px;
  width: 91px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-next-1 {
  background-position: -5px -1120px;
  width: 90px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-next-1-hover {
  background-position: -5px -1166px;
  width: 93px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-next-hover {
  background-position: -5px -1212px;
  width: 92px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-pen {
  background-position: -5px -1258px;
  width: 14px;
  height: 15px;
}
.forGood .content .sliderGoods .dots li button.sprite-pen-ico {
  background-position: -5px -1283px;
  width: 16px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-phone {
  background-position: -5px -1309px;
  width: 57px;
  height: 63px;
}
.forGood .content .sliderGoods .dots li button.sprite-phone-ico {
  background-position: -5px -1382px;
  width: 16px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-prev {
  background-position: -5px -1408px;
  width: 91px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-prev-1 {
  background-position: -5px -1454px;
  width: 93px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-prev-1-hover {
  background-position: -5px -1500px;
  width: 93px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-prev-hover {
  background-position: -5px -1546px;
  width: 91px;
  height: 36px;
}
.forGood .content .sliderGoods .dots li button.sprite-slidemenu-marker {
  background-position: -5px -1592px;
  width: 8px;
  height: 8px;
}
.forGood .content .sliderGoods .dots li button.sprite-star {
  background-position: -5px -1610px;
  width: 17px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-star-fill {
  background-position: -5px -1636px;
  width: 17px;
  height: 16px;
}
.forGood .content .sliderGoods .dots li button.sprite-start-go {
  background-position: -5px -1662px;
  width: 100px;
  height: 27px;
}
.forGood .content .sliderGoods .dots li button.sprite-vk-ico {
  background-position: -5px -1699px;
  width: 22px;
  height: 13px;
}
.forGood .content .sliderGoods .dots li.slick-active button {
  background-position: -5px -343px;
  width: 20px;
  height: 20px;
}
.forGood .content .sliderGoods .sliderPrev,
.forGood .content .sliderGoods .sliderNext {
  cursor: pointer;
  position: absolute;
  top: 45%;
}
.forGood .content .sliderGoods .sliderPrev {
  left: -35px;
}
.forGood .content .sliderGoods .sliderNext {
  right: -35px;
}
.preFooter .content {
  width: 1140px;
  margin: 0 auto;
  color: #4c4c4c;
  font-family: OpenSans-Semibold;
  padding: 50px 0;
}
.preFooter .content .headLine > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.preFooter .content .headLine .leftSide h2 {
  color: #40b69c;
}
.preFooter .content .headLine .leftSide .line {
  width: 130px;
  height: 4px;
  background: #40b69c;
  margin-top: 20px;
}
.preFooter .content .headLine .center {
  text-align: center;
  margin: 0 250px 0 150px;
  position: relative;
}
.preFooter .content .headLine .center > div {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  position: relative;
  cursor: pointer;
  color: #4c4c4c;
  font-family: OpenSans-Regular;
  margin: 0 10px;
}
.preFooter .content .headLine .center > div p {
  position: absolute;
  bottom: -8px;
}
.preFooter .content .headLine .center .prev p {
  right: 20px;
}
.preFooter .content .headLine .center .prev:hover .sprite {
  background-position: -5px -1500px;
  width: 93px;
  height: 36px;
}
.preFooter .content .headLine .center .next p {
  left: 20px;
}
.preFooter .content .headLine .center .next:hover .sprite {
  background-position: -5px -1166px;
  width: 93px;
  height: 36px;
}
.preFooter .content .headLine .rightSide a {
  color: #40b69c;
  font-size: 18px;
  cursor: pointer;
}
.preFooter .content .items {
  margin: 30px 0 70px;
  text-align: center;
}
.preFooter .content .items .item {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
  border: 1px solid #dddddd;
  background: white;
  color: black;
  position: relative;
  margin: 0 20px 40px 0;
}
.preFooter .content .items .item > * {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
.preFooter .content .items .item .description {
  position: relative;
  width: 250px;
  height: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  text-align: left;
}
.preFooter .content .items .item .description > * {
  position: absolute;
}
.preFooter .content .items .item .description .head {
  width: 200px;
  font-size: 20px;
  left: 15px;
  margin: 0;
}
.preFooter .content .items .item .description .head:hover {
  color: #40b69c;
  text-decoration: underline;
  cursor: pointer;
}
.preFooter .content .items .item .description .oldPrice {
  left: 15px;
  top: 85px;
  color: #c73535;
  text-decoration: line-through;
  font-size: 22px;
}
.preFooter .content .items .item .description .newPrice {
  left: 15px;
  top: 100px;
  font-size: 30px;
}
.preFooter .content .items .item .description .sale {
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #3bd6b6;
  background: -moz-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3bd6b6), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #3bd6b6 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0);
}
.preFooter .content .items .item .description .sale:hover {
  background: #29f4ce;
  background: -moz-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #29f4ce), color-stop(91%, #1db698), color-stop(100%, #1db698));
  background: -webkit-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -o-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: -ms-linear-gradient(top, #29f4ce 0%, #1db698 91%, #1db698 100%);
  background: linear-gradient(to bottom, #29f4ce 0%, #1db698 91%, #1db698 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0);
}
.preFooter .content .items .item .description .points {
  width: 50px;
  height: 41px;
  bottom: 15px;
  left: 155px;
  color: black;
  font-size: 40px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
}
.preFooter .content .items .item .description .points span {
  position: absolute;
  bottom: 9px;
  left: 8px;
}
.preFooter .content .items .item .description .points:hover {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0);
}
.preFooter .content .items .item .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 22.6px;
  border-color: transparent transparent transparent #ffffff;
  left: 254px;
  top: 93px;
}
.contactUs .content {
  width: 1140px;
  margin: 0 auto;
  padding: 20px 0;
}
.contactUs .content form {
  text-align: center;
  font-family: OpenSans-Regular;
}
.contactUs .content form h2 {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}
.contactUs .content form .line {
  position: relative;
}
.contactUs .content form .line .inp {
  margin: 10px 30px;
  position: relative;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
.contactUs .content form .line .inp .sprite {
  position: absolute;
  top: 10px;
  left: 10px;
}
.contactUs .content form .line .inp input {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 10px 10px 35px;
  width: 300px;
}
.contactUs .content form .line > .sprite {
  position: absolute;
  top: 30px;
  left: 200px;
}
.contactUs .content form .line textarea {
  resize: none;
  margin: 20px 0;
  width: 711px;
  height: 130px;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.contactUs .content form button {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
  color: #017b66;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  padding: 8px 51px;
  cursor: pointer;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.contactUs .content form button:hover {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, #c0c0c0 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0);
}
footer .content {
  width: 1140px;
  margin: 0 auto;
  color: white;
  font-family: OpenSans-Regular;
  padding: 25px 0;
}
footer .content .block {
  margin-right: 13px;
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: top;
}
footer .content .block.five {
  margin-right: 0;
}
footer .content .block p {
  font-size: 14px;
}
footer .content .start-go {
  text-align: right;
  position: relative;
}
footer .content .start-go a {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
footer .content .start-go .sprite {
  display: inline-block;
  *zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  vertical-align: middle;
}
@media screen and (max-width: 1140px) {
  body > * {
    width: 1140px;
    overflow-y: hidden;
  }
}
