@import "mixins";
@import "sprites";

@mainWidth: 1140px;

@textColor: #4c4c4c;
@textColorGray: #909090;
@textColorBlue: #40b69c;

h1, h2, h3, h4 {
  font-family: Bankir-Retro;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 100;
}
h2 {
  font-size: 45px;
  font-weight: 100;
}
h3 {
  font-size: 32px;
  font-weight: 100;
}

.gradient() {
  background: rgba(59,214,182,1);
  background: -moz-linear-gradient(top, rgba(59,214,182,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,214,182,1)), color-stop(91%, rgba(29,182,152,1)), color-stop(100%, rgba(29,182,152,1)));
  background: -webkit-linear-gradient(top, rgba(59,214,182,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -o-linear-gradient(top, rgba(59,214,182,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -ms-linear-gradient(top, rgba(59,214,182,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: linear-gradient(to bottom, rgba(59,214,182,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd6b6', endColorstr='#1db698', GradientType=0 );
}
.hoverGradient() {
  background: rgba(41,244,206,1);
  background: -moz-linear-gradient(top, rgba(41,244,206,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,244,206,1)), color-stop(91%, rgba(29,182,152,1)), color-stop(100%, rgba(29,182,152,1)));
  background: -webkit-linear-gradient(top, rgba(41,244,206,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -o-linear-gradient(top, rgba(41,244,206,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: -ms-linear-gradient(top, rgba(41,244,206,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  background: linear-gradient(to bottom, rgba(41,244,206,1) 0%, rgba(29,182,152,1) 91%, rgba(29,182,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29f4ce', endColorstr='#1db698', GradientType=0 );
}
.gradientWhite() {
  background: rgba(241,241,241,1);
  background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(220,220,220,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(220,220,220,1)));
  background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(220,220,220,1) 100%);
  background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(220,220,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(220,220,220,1) 100%);
  background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(220,220,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0 );
}
.hoverGradientWhite() {
  background: rgba(241,241,241,1);
  background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(192,192,192,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(192,192,192,1)));
  background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(192,192,192,1) 100%);
  background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(192,192,192,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(192,192,192,1) 100%);
  background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(192,192,192,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#c0c0c0', GradientType=0 );
}
.gradientTransparent() {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

body {
  margin: 0;
}
body .inner {
  background: url(../img/back.png) repeat;
}
body .inner.inner-main {
  background: url(../img/backgroundMain.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;

}
body .preFooter {
  background: url(../img/back.png) repeat;
}
body > footer {
  background: url(../img/footer.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;
}
body .forGood {
  background: url(../img/back.png) repeat;
  .layout {
    background: rgba(64, 182, 156, .2);
  }
}
body .preFooter {
  .layout {
    background: rgba(64, 182, 156, .2);
  }
}
body .contactUs {
  background: url(../img/otpr-form-back.png) no-repeat;
  -ms-background-position-x: center;
  background-position-x: center;
}

.inner .content {
  /*max-width: @mainWidth;*/
  width: @mainWidth;
  margin: 0 auto;
  color: @textColor;
  font-family: OpenSans-Semibold;
  .transition(all .5s ease-in-out);
  position: relative;
  left: 0;
}
.inner .content.open {
  left: 370px;
  overflow: hidden;
}
.slideMenu {
  position: fixed;
  width: 370px;
  height: 100%;
  .transition(all .5s ease-in-out);
  left: -370px;
  .box-sizing();
  overflow: auto;
  padding: 30px;
  border-right: 2px solid rgba(221, 221, 221, .35);
  font-family: OpenSans-Semibold;
  .headLine {
    color: @textColorBlue;
    overflow: hidden;
    span {
      float: left;
    }
    i {
      float: right;
      cursor: pointer;
    }
  }
  > a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 15px 0;
    &:hover {
      color: @textColorBlue;
    }
  }
  ul {
    margin: 0;
    padding: 0 0 0 15px;
    li {
      list-style-image: url(../img/slidemenu-marker.png);
      padding: 2px 0;
      a {
        color: @textColorBlue;
        text-decoration: none;
        &:hover {
          color: lighten(@textColorBlue, 20%);
        }
      }
    }
  }
}
.slideMenu.open {
  left: 0;
}

.layoutModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  .transition(background .5s);
  z-index: -1;
  &.active {
    background: rgba(0, 0, 0, .4);
    z-index: 1;
  }
}
.modal {
  background: url(../img/back.png) repeat;
  .size(600px, 240px);
  padding: 40px 80px;
  margin: auto;
  position: fixed;
  top: -3000px; bottom: 0; left: 0; right: 0;
  text-align: center;
  .transition(top 1s);
  &.active {
    top: 0;
    z-index: 2;
  }
  .sprite-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  form {
    font-family: OpenSans-Regular;
    h2 {
      color: @textColorBlue;
      letter-spacing: 3px;
      font-size: 38px;
    }
    p {
      font-family: OpenSans-Semibold;
      color: @textColor;
      width: 65%;
      margin: 0 auto;
    }
    .line {
      margin: 20px 0;
      .inp {
        margin: 0 10px;
        position: relative;
        .inline-block();
        vertical-align: middle;
        .sprite {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        input {
          border: 1px solid #ddd;
          .rounded(4px);
          padding: 10px 10px 10px 35px;
          width: 210px;
        }
      }
      >.sprite {
        position: absolute;
        top: 30px;
        left: 200px;
      }
    }
    button {
      .gradient();
      color: white;
      .rounded(3px);
      border: 0;
      padding: 8px 51px;
      cursor: pointer;
      font-family: OpenSans-Semibold;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      &:hover {
        .hoverGradient();
      }
    }
  }
}


.content > header {
  position: relative;
  text-align: center;
  padding: 30px 0;
  > div {
    .inline-block();
    vertical-align: bottom;
  }
  .leftSide {
    position: relative;
    a {
      display: block;
      position: absolute;
      .size(100%, 100%);
    }
  }
  .center {
    text-align: left;
    margin-left: 140px;
    > div {
      .inline-block();
      vertical-align: middle;
    }
    p {
      margin: 5px 0;
      font-size: 18px;
    }
  }
  .rightSide {
    margin-left: 200px;
    .cartAndMenu {
      background: #FFFFFF;
      .rounded(5px);
      .box-shadow(0, 1px, 5px, rgba(0, 0, 0, .5));
      padding: 2px 25px;
      font-family: OpenSans-Regular;
      color: @textColorGray;
      font-size: 18px;
      > div {
        .inline-block();
        vertical-align: middle;
        > * {
          .inline-block();
          vertical-align: middle;
        }
      }
      .cart {
        p {
          margin: 0;
          padding: 0 25px 0 7px;
          border-right: 1px solid @textColorGray;
          span {
            color: black;
            text-decoration: underline;
            font-family: OpenSans-Semibold;
            font-size: 16px;
          }
        }
      }
      .menu {
        padding-left: 25px;
        cursor: pointer;
        div {
          margin-right: 15px;
        }
        &:hover {
          .sprite {
            .sprite.sprite-menu-ico-hover();
          }
        }
      }
      &.blue {
        background: @textColorBlue;
        color: white;
        .cart p span {
          color: white;
        }
      }
    }
  }
  &.page {
    border-bottom: 2px solid #3cbc9b;
    .line {
      .size(600px, 2px);
      background: rgba(144, 144, 144, .3);
      position: relative;
      top: 40px;
    }
  }
}
.content .inner-page-block {
  .lineHleb {
    margin: 30px 0;
    a {
      color: black;
      font-size: 14px;
      font-family: OpenSans-Regular;
      text-decoration: none;
      &:hover {
        color: @textColorBlue;
      }
    }
    img {
      vertical-align: middle;
      .size(8px, 10px);
      margin: 0 5px;
    }
  }
  .blockDescription {
    .imageBlock {
      width: 430px;
      .inline-block();
      vertical-align: top;
      margin-top: 10px;
      .imgStyle() {
        .rounded(3px);
        border: 1px solid rgba(144, 144, 144, .3);
        cursor: pointer;
      }
      .mainImage {
        .inline-block();
        vertical-align: top;
        .size(310px, 310px);
        img {
          .size(100%, 100%);
          .imgStyle();
        }
      }
      .rightImage {
        .inline-block();
        vertical-align: top;
        .size(100px, 300px);
        img:nth-child(1) {
          margin-top: 0;
        }
        img {
          .size(100px, 100px);
          margin-top: -2px;
          .imgStyle();
        }
      }
      .bottomImage {
        margin-top: 4px;
        .size(425px, 100px);
        img:nth-child(1) {
          margin-left: 0;
        }
        img {
          margin-left: -1px;
          .size(100px, 100px);
          .inline-block();
          vertical-align: top;
          .imgStyle();
        }
      }
    }
    .description {
      width: 700px;
      .inline-block();
      vertical-align: top;
      h1 {
        color: @textColorBlue;
        font-size: 40px;
        letter-spacing: 1px;
      }
      p {
        font-family: OpenSans-Regular;
      }
    }
  }
  .goodDescription {
    .imageBlock {
      width: 40%;
      .inline-block();
      vertical-align: top;
      .mainImage {
        width: 100%;
      }
      .sliderImages {
        width: 100%;
        position: relative;
        text-align: center;
        .sprite {
          position: absolute;
          top: 20%;
          cursor: pointer;
          &.sprite-arrow-prev {
            left: 0;
          }
          &.sprite-arrow-next {
            right: 0;
          }
        }
        > img {
          cursor: pointer;
          .inline-block();
          vertical-align: top;
          margin: 0 5px;
          width: 20%;
          .box-sizing();
          &.active, &:hover {
            border: 4px solid @textColorBlue;
          }
        }
      }
    }
    .description {
      .inline-block();
      vertical-align: top;
      width: 55%;
      margin-left: 30px;
      h1 {
        color: @textColorBlue;
        text-transform: uppercase;
      }
      .oldPrice {
        color: #bd3633;
        font-size: 18px;
        text-decoration: line-through;
        margin-bottom: 0;
      }
      .newPrice {
        color: #000;
        font-size: 36px;
        margin-top: 0;
      }
      .col {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        span {
          display: block;
        }
        .line {
          > div {
            .inline-block();
            vertical-align: top;
          }
          .plusminus {
            padding: 10px 20px;
            border: 1px solid @textColorBlue;
            cursor: pointer;
          }
          .colcol {
            padding: 10px 30px;
            border: 1px solid rgba(144, 144, 144, .3);
          }
        }
        button {
          font-family: OpenSans-Semibold;
          margin-top: 20px;
          .preFooter .content .items .item .description .sale;
        }
      }
    }
  }
  .catalog {
    padding: 20px 0;
    h1 {
      text-align: center;
      color: @textColorBlue;
      margin: 0 0 50px 0;
    }
    .accordion {
      .inline-block();
      vertical-align: top;
      width: 24%;
      .rounded(3px);
      .box-shadow(0, 1px, 5px, rgba(0, 0, 0, .5));
      background: white;
      > ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
        }
        > li {
          background: white;
          .transition(all .5s);
          border-bottom: 1px solid #f1f1f1;
          cursor: pointer;
          color: @textColorBlue;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: #f7f7f7;
          }
          > ul {
            .transition(height .5s);
            padding: 0;
            margin: 0;
            height: 0;
            width: 0;
            opacity: 0;
          }
          .line {
            position: relative;
            margin: 10px;
            .sprite {
              .transition(all .5s);
              position: absolute;
              top: 8px;
              right: 5px;
            }
          }
          &.active {
            ul {
              height: 100%;
              width: 100%;
              opacity: 1;
              li {
                background: #45a08e;
                border-bottom: 1px solid #3c9785;
                cursor: pointer;
                color: white;
                padding: 10px;
                &:last-child {
                  border-bottom: none;
                }
                &:hover {
                  background: #269680;
                }
              }
            }
            .line {
              .sprite {
                .sprite.sprite-arrow-top;
              }
            }
          }
        }
      }
    }
    .catalog-content {
      .inline-block();
      vertical-align: top;
      width: 75%;

      .item {
        border: 1px solid #ddd;
        margin-left: 20px;
        margin-bottom: 20px;
        .inline-block();
        vertical-align: top;
        background: white;
        img {
          width: 250px;
        }
        .description {
          .box-sizing();
          padding: 10px;
          font-family: OpenSans-Semibold;
          width: 250px;
          position: relative;
          background: white;
          p {
            margin: 0;
            font-weight: 600;
            font-size: 20px;
            span {
              color: #c7372e;
              text-decoration: line-through;
              font-size: 16px;
              margin-right: 20px;
            }
          }
          p:nth-child(2) {
            margin: 10px 0;
            font-size: 26px;
          }
          .buttons {
            font-family: OpenSans-Semibold;
            .sale {
              color: white;
              font-size: 18px;
              border: none;
              .rounded(3px);
              padding: 10px 30px;
              cursor: pointer;
              .transition();
              .gradient();
              &:hover {
                .hoverGradient();
              }
            }
            .points {
              .size(50px, 41px);
              color: black;
              font-size: 18px;
              border: none;
              .rounded(3px);
              cursor: pointer;
              .transition();
              .gradientWhite();
              span {

              }
              &:hover {
                .hoverGradientWhite();
              }
            }
          }
        }
      }
      .pagination {
        margin-top: 30px;
        > div {
          .inline-block();
          vertical-align: top;
          padding: 5px 10px;
          border: 1px solid #7dcdc2;
          cursor: pointer;
          margin: 0 5px;
          color: #007f72;
          &:hover {
            border: 1px solid #008471;
          }
        }
        .current {
          color: white;
          background: #77cfc1;
          border: 1px solid #77cfc1;
        }
      }
    }
  }
  .reviewsGood {
    text-align: center;
    padding: 70px 0;
    h2 {
      color: @textColorBlue;
      text-transform: uppercase;
    }
    .reviews {
      text-align: center;
      max-height: 300px;
      .transition();
      &.active {
        max-height: 1500px;
      }
      .review {
        margin: 20px 0;
        .wrapper {
          width: 800px;
          margin: 0 auto;
        }
        font-family: OpenSans-Regular;
        background: url(../img/quote.png) no-repeat center;
        header {
          overflow: hidden;
          p {
            margin: 0;
          }
          .name {
            color: #000;
            float: left;
          }
          .rating {
            float: right;
            margin: 0 2px;
            .star {
              .inline-block();
              vertical-align: top;
            }
          }
        }
        section {
          text-align: left;
        }
        footer {
          text-align: left;
          p {
            color: @textColorGray;
            font-size: 14px;
          }
        }
      }
    }
    .review-btn {
      font-family: OpenSans-Semibold;
      .preFooter .content .items .item .description .sale;
    }
    form {
      padding: 50px 0;
      width: 800px;
      margin: 0 auto;
      font-family: OpenSans-Regular;
      p {
        font-size: 24px;
        color: #000;
        text-align: left;
      }
      .line {
        position: relative;
        .inp {
          position: relative;
          .inline-block();
          vertical-align: middle;
          >.sprite {
            position: absolute;
            top: 10px;
            left: 10px;
          }
          input {
            border: 1px solid #ddd;
            .rounded(4px);
            padding: 10px 10px 10px 35px;
            width: 330px;
          }
        }
        .sprite {
          position: absolute;
          top: 30px;
          left: 30px;
        }
        textarea {
          resize: none;
          margin: 20px 0;
          width: 711px;
          height: 130px;
          padding: 10px 10px 10px 35px;
          border: 1px solid #ddd;
          .rounded(4px);
        }
        .rating {
          float: left;
          .sprite {
            position: relative;
            .inline-block();
            vertical-align: top;
            cursor: pointer;
            &.active {
              .sprite.sprite-star-fill;
            }
          }
        }
        button {
          font-family: OpenSans-Semibold;
          margin-top: 20px;
          .preFooter .content .items .item .description .sale;
          float: right;
          width: 300px;
        }
      }
    }
  }
  .callToAction {
    border: 2px solid rgba(144, 144, 144, .3);
    .rounded(5px);
    width: 800px;
    margin: 0 auto;
    .box-sizing();
    margin-top: 30px;
    p {
      margin: 0;
      font-family: OpenSans-Regular;
      color: black;
    }
    > div {
      .inline-block();
      vertical-align: top;
    }
    .left {
      padding: 20px;
      .sale {
        font-family: OpenSans-Semibold;
        font-size: 28px;
      }
    }
    .center {
      background: url(../img/button-back.png) no-repeat;
      .size(301px, 100px);
      position: relative;
      button {
        .gradientWhite();
        color: #017b66;
        .rounded(3px);
        border: 0;
        position: absolute;
        top: 32px;
        left: 45px;
        padding: 8px 48px;
        cursor: pointer;
        font-family: OpenSans-Semibold;
        font-size: 16px;
        letter-spacing: 1px;
        &:hover {
          .hoverGradientWhite();
        }
      }
    }
    .right {
      padding: 20px;
      .tel {
        font-family: OpenSans-Semibold;
        font-size: 22px;
        margin-top: 5px;
        a {
          text-decoration: none;
          color: black;
        }

      }
    }
  }
  .icons {
    width: 750px;
    margin: 30px auto 0;
    padding-bottom: 50px;
    .elem {
      .inline-block();
      vertical-align: top;
      margin: 25px 10px 25px;
      > div {
        .inline-block();
        vertical-align: middle;
      }
      .des {
        width: 230px;
        margin-left: 5px;
      }
    }
  }
}
.content .present {
  text-align: center;
  .proart {
    margin: 100px 0 45px;
  }
  .mainCategories {
    .sideCategory {
      .inline-block();
      vertical-align: top;
      margin: 0 0 20px 0;
      position: relative;
      p {
        font-family: OpenSans-Regular;
      }
      button {
        text-transform: uppercase;
        width: 313px;
        padding: 10px 15px;
        .rounded(2px);
        .box-shadow(0, 1px, 5px, rgba(0, 0, 0, .5));
        font-family: OpenSans-Semibold;
        font-size: 20px;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .line {
        position: relative;
        height: 2px;
        margin-top: 8px;
      }
      p {
        margin: 15px 0 10px;
        font-size: 18px;
      }
      &.left {
        text-align: left;
        margin-right: 150px;
        h3 {
          color: @textColorBlue;
        }
        p {
          color: @textColorGray;
          width: 275px;
        }
        button {
          color: white;
          background: @textColorBlue;
        }
        .lineGreen {
          background: @textColorBlue;
          width: 210px;
          float: left;
        }
      }
      &.right {
        text-align: right;
        margin-left: 150px;
        h3 {
          color: white;
        }
        p {
          color: white;
          width: 370px;
        }
        button {
          color: @textColorBlue;
          background: white;
        }
        .lineWhite {
          background: white;
          width: 70px;
          float: right;
        }
      }
    }
  }
}
.content .spec {
  position: relative;
  margin-top: 100px;
  min-height: 800px;
  .headText {
    h2 {
      color: white;
    }
    .line {
      background: white;
      .size(200px, 4px);
      margin-top: 20px;
    }
  }
  .sideSpec {
    .size(577px, 450px);
    position: absolute;
    .yellowBlock {
      background: #fcea1e;
      padding: 25px 42px;
      position: absolute;
      .box-shadow(0, 1px, 5px, rgba(0, 0, 0, .3));
      top: 175px;
      p {
        margin: 0;
        color: black;
      }
      .big {
        font-size: 40px;
        font-family: OpenSans-Extrabold;
        text-transform: uppercase;
      }
      .predlog {
        font-size: 22px;
        font-family: OpenSans-Regular;
      }
    }
    &.right {
      .size(649px, 450px);
      background: url(../img/acciya-2.png) no-repeat;
      top: 50px;
      right: 0;
      text-align: right;
      .yellowBlock {
        right: -20px;
        width: 70%;
      }
    }
    &.left {
      .size(577px, 450px);
      background: url(../img/acciya-1.png) no-repeat;
      top: 274px;
      left: 0;
      .yellowBlock {
        width: 95%;
        left: -20px;
      }
      .predlog {
        text-transform: uppercase;
      }
    }
  }
  .dopAccii {
    position: absolute;
    top: 550px;
    right: 100px;
    text-align: center;
    > p {
      color: @textColorGray;
      font-size: 18px;
      font-weight: 100;
    }
    >div {
      .inline-block();
      vertical-align: top;
      position: relative;
      cursor: pointer;
      color: white;
      margin: 0 10px;
      p {
        position: absolute;
        bottom: -8px;
      }
    }
    .prev {
      p {
        right: 20px;
      }
      &:hover {
        .sprite {
          .sprite.sprite-prev-hover;
        }
      }
    }
    .next {
      p {
        left: 20px;
      }
      &:hover {
        .sprite {
          .sprite.sprite-next-hover;
        }
      }
    }
  }
}
.content .master {
  margin-bottom: 150px;
  .headMaster {
    margin-right: 100px;
    h2 {
      color: white;
    }
    .line {
      .size(130px, 4px);
      background: white;
      margin-top: 20px;
    }
    > p {
      color: white;
      width: 250px;
      font-family: OpenSans-Regular;
      font-weight: 100;
      font-size: 18px;
      margin: 25px 0;
    }
    button {
      text-align: left;
      background: #fbe81f;
      border: none;
      .rounded(3px);
      .box-shadow(0, 1px, 5px, rgba(0, 0, 0, .5));
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background: #faf71e;
      }
      > * {
        .inline-block();
        vertical-align: middle;
      }
      p {
        color: black;
        font-size: 16px;
        margin: 0 0 0 10px;
        font-weight: 600;
        position: relative;
        top: 2px;
      }
    }
  }
  .itemShereng {
    margin-top: 30px;
    margin-left: 100px;
    &.one {
      margin-left: 0;
    }
    > div {
      .inline-block();
      vertical-align: top;
    }
    .item {
      padding: 6px;
      border: 1px solid #dddddd;
      text-align: center;
      margin: 0 2px;
      background: rgba(255, 255, 255, .2);
      .transition(background .5s);
      &:hover {
        background: rgba(227, 254, 249, .7);
      }
      p {
        color: black;
        margin: 7px 0 10px 0;
      }
      button {
        color: white;
        margin-bottom: 10px;
        border: none;
        .rounded(3px);
        padding: 10px 20px;
        cursor: pointer;
        .transition();
        .gradient();
        .sprite {
          display: inline-block;
          vertical-align: top;
        }
        &:hover {
          .hoverGradient();
        }
        span {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
  }
}
.content .reviews {
  position: relative;
  overflow: hidden;
  h2 {
    color: @textColorBlue;
  }
  .line {
    .size(130px, 4px);
    background: @textColorBlue;
    margin-top: 20px;
  }
  .slick {
    text-align: center;
    margin: 50px 0;
    img {
      margin: 0 5px;
    }
    .dots {
      .forGood .content .sliderGoods .dots;
    }
  }
}
.forGood .content {
  width: @mainWidth;
  margin: 0 auto;
  padding: 60px 0;
  .needed {
    .inline-block();
    vertical-align: top;
    width: 24%;
    font-family: OpenSans-Regular;
    h3 {
      font-size: 28px;
      color: @textColorBlue;
    }
    ul {
      padding-left: 20px;
      li {
        list-style-type: decimal;
      }
    }
    .goodsTam {
      > div {
        .inline-block();
        vertical-align: middle;
      }
      .text {
        width: 80%;
        font-weight: 600;
        span {
          color: @textColorBlue;
        }
      }
    }
  }
  .sliderGoods {
    .inline-block();
    vertical-align: top;
    width: 73%;
    margin-left: 30px;
    background: transparent;
    position: relative;
    .good {
      .inline-block();
      vertical-align: top;
      img {
        width: 250px;
      }
      .description {
        .box-sizing();
        padding: 10px;
        font-family: OpenSans-Semibold;
        width: 250px;
        position: relative;
        background: white;
        p {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
          span {
            color: #c7372e;
            text-decoration: line-through;
            font-size: 16px;
            margin-right: 20px;
          }
        }
        p:nth-child(2) {
          margin: 10px 0;
          font-size: 26px;
        }
        .buttons {
          .sale {
            color: white;
            font-size: 18px;
            border: none;
            .rounded(3px);
            padding: 10px 30px;
            cursor: pointer;
            .transition();
            .gradient();
            &:hover {
              .hoverGradient();
            }
          }
          .points {
            .size(50px, 41px);
            color: black;
            font-size: 18px;
            border: none;
            .rounded(3px);
            cursor: pointer;
            .transition();
            .gradientWhite();
            span {

            }
            &:hover {
              .hoverGradientWhite();
            }
          }
        }
      }
    }
    .dots {
      text-align: center;
      margin-top: 10px;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
        button {
          font-size: 0;
          line-height: 0;
          display: block;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          .box-shadow(0, 1px, 3px, rgba(0, 0, 0, .3));
          .transition(all .3s);
          .sprite;
          .sprite.sprite-ellipse;
          .rounded(50%);
        }
        &.slick-active {
          button {
            .sprite.sprite-ellipse-point;
          }
        }
      }
    }
    .sliderPrev, .sliderNext {
      cursor: pointer;
      position: absolute;
      top: 45%;
    }
    .sliderPrev {
      left: -35px;
    }
    .sliderNext {
      right: -35px;
    }
  }
}
.preFooter .content {
  width: @mainWidth;
  margin: 0 auto;
  color: @textColor;
  font-family: OpenSans-Semibold;
  padding: 50px 0;
  .headLine {
    > div {
      .inline-block();
      vertical-align: middle;
    }
    .leftSide {
      h2 {
        color: @textColorBlue;
      }
      .line {
        .size(130px, 4px);
        background: @textColorBlue;
        margin-top: 20px;
      }
    }
    .center {
      text-align: center;
      margin: 0 250px 0 150px;
      position: relative;
      >div {
        .inline-block();
        vertical-align: top;
        position: relative;
        cursor: pointer;
        color: @textColor;
        font-family: OpenSans-Regular;
        margin: 0 10px;
        p {
          position: absolute;
          bottom: -8px;
        }
      }
      .prev {
        p {
          right: 20px;
        }
        &:hover {
          .sprite {
            .sprite.sprite-prev-1-hover;
          }
        }
      }
      .next {
        p {
          left: 20px;
        }
        &:hover {
          .sprite {
            .sprite.sprite-next-1-hover;
          }
        }
      }
    }
    .rightSide {
      a {
        color: @textColorBlue;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  .items {
    margin: 30px 0 70px;
    text-align: center;
    .item {
      .inline-block();
      vertical-align: top;
      border: 1px solid #dddddd;
      background: white;
      color: black;
      position: relative;
      margin: 0 20px 40px 0;
      > * {
        .inline-block();
        vertical-align: top;
      }
      .description {
        position: relative;
        .size(250px, 240px);
        .box-sizing();
        padding: 15px;
        text-align: left;
        > * {
          position: absolute;
        }
        .head {
          width: 200px;
          font-size: 20px;
          left: 15px;
          margin: 0;
          &:hover {
            color: @textColorBlue;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .oldPrice {
          left: 15px;
          top: 85px;
          color: #c73535;
          text-decoration: line-through;
          font-size: 22px;
        }
        .newPrice {
          left: 15px;
          top: 100px;
          font-size: 30px;
        }
        .sale {
          bottom: 15px;
          left: 15px;
          color: white;
          font-size: 18px;
          border: none;
          .rounded(3px);
          padding: 10px 30px;
          cursor: pointer;
          .transition();
          .gradient();
          &:hover {
            .hoverGradient();
          }
        }
        .points {
          .size(50px, 41px);
          bottom: 15px;
          left: 155px;
          color: black;
          font-size: 40px;
          border: none;
          .rounded(3px);
          cursor: pointer;
          .transition();
          .gradientWhite();
          span {
            position: absolute;
            bottom: 9px;
            left: 8px;
          }
          &:hover {
            .hoverGradientWhite();
          }
        }
      }
      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 22.6px;
        border-color: transparent transparent transparent #ffffff;
        left: 254px;
        top: 93px;
      }
    }
  }
}

.contactUs .content {
  width: @mainWidth;
  margin: 0 auto;
  padding: 20px 0;
  form {
    text-align: center;
    font-family: OpenSans-Regular;
    h2 {
      color: white;
      font-size: 30px;
      letter-spacing: 2px;
    }
    .line {
      position: relative;
      .inp {
        margin: 10px 30px;
        position: relative;
        .inline-block();
        vertical-align: middle;
        .sprite {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        input {
          border: 1px solid #ddd;
          .rounded(4px);
          padding: 10px 10px 10px 35px;
          width: 300px;
        }
      }
      >.sprite {
        position: absolute;
        top: 30px;
        left: 200px;
      }
      textarea {
        resize: none;
        margin: 20px 0;
        width: 711px;
        height: 130px;
        padding: 10px 10px 10px 35px;
        border: 1px solid #ddd;
        .rounded(4px);
      }
    }
    button {
      .gradientWhite();
      color: #017b66;
      .rounded(3px);
      border: 0;
      padding: 8px 51px;
      cursor: pointer;
      font-family: OpenSans-Semibold;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      &:hover {
        .hoverGradientWhite();
      }
    }
  }
}

footer .content {
  width: @mainWidth;
  margin: 0 auto;
  color: white;
  font-family: OpenSans-Regular;
  padding: 25px 0;
  .block {
    margin-right: 13px;
    &.five {
      margin-right: 0;
    }
    .inline-block();
    vertical-align: top;
    p {
      font-size: 14px;
    }
  }
  .start-go {
    text-align: right;
    position: relative;
    a {
      position: absolute;
      .absoluteCenter();
      z-index: 2;
    }
    .sprite {
      .inline-block();
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 1140px) {
  body > * {
    width: @mainWidth;
    overflow-y: hidden;
  }

}